<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p>HELLO</p>

{% for i in news %}
    <h3>{{i.news_name}}</h3>
    <h6>{{i.created_at}}</h6>
    <p>{{i.description}}</p>
    <img src="{{ i.image.url }}" width="400px" alt="">
{% endfor %}
</body>
</html>